body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -83px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px #E7E7F2 solid;
  padding: 36px 0 26px 0;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.header_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.header_nav_list li {
  margin-right: 60px;
}
.header_nav_list li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header_nav_list li a .search_icon {
  width: 24px;
  height: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header_nav_list li a .search_icon:hover {
  width: 26px;
  height: 26px;
}
.header_nav_list li a:hover {
  text-decoration: overline;
}
.header_nav_list li a:active {
  color: #ececec;
}

.header_logo {
  font-size: 24px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
}

.section {
  padding: 86px 0 65px 0;
}

.sec_content_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.sec_text_block h1, .sec_text_block h2, .sec_text_block h3, .sec_text_block h4, .sec_text_block h5, .sec_text_block h6 {
  font-size: 96px;
  font-weight: bold;
  width: 760px;
  height: 212px;
  margin-bottom: 47px;
}
.sec_text_block p {
  font-size: 25px;
  letter-spacing: 2px;
  width: 521px;
  height: 83px;
  line-height: 32px;
}

.sec_next_background_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  top: 155px;
}

.next_bg_text_block {
  width: 256px;
  height: 400px;
  padding: 46px 0 46px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px 0px 0px 20px;
  position: relative;
}
.next_bg_text_block sub {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.next_bg_text_block h2 {
  font-size: 36px;
  line-height: 48px;
  margin: 47px 0;
}
.next_bg_text_block p {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}
.next_bg_text_block p:hover {
  font-size: 65px;
}

.next_bg_text_block::before {
  content: "";
  width: 293px;
  height: 400px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 20px 0px 0px 20px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.next_bg_image {
  position: relative;
  z-index: 6;
}

footer {
  background-color: #555454;
  border-radius: 20px 20px 0 0;
  padding: 35px 48px;
}

.footer_content_block {
  color: #fff;
}
.footer_content_block p {
  font-weight: bold;
  margin-bottom: 16px;
}

.footer_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select_places {
  border-radius: 10px 0px 0px 10px;
}

.select_guestes {
  border-radius: 0px 10px 10px 0px;
}

.input_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dcdcdff1;
  padding: 13px 16px;
}
.input_form div {
  margin-left: 15px;
}
.input_form div p {
  margin-bottom: 5px;
  color: #E7E7F2;
  font-size: 12px;
}
.input_form div .inputs {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 0px;
}
.input_form div .inputs option[value="1"] {
  color: #000;
  padding: 5px;
}
.input_form div .inputs option[value="2"] {
  color: #000;
  padding: 5px;
}
.input_form div .inputs option[value="3"] {
  color: #000;
  padding: 5px;
}
.input_form div .inputs option[value="4"] {
  color: #000;
  padding: 5px;
}
.input_form div .inputs:focus {
  outline: none;
}
.input_form div .date_input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form_icons {
  width: 28px;
  height: 28px;
}

.search_btn {
  margin-left: 30px;
  padding: 26px 88px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  border: 0;
  color: #fff;
  background-color: #91CB82;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.search_btn:hover {
  background-color: #72a066;
}

/*# sourceMappingURL=style.css.map */